*.o
*.d
*.a
*.swp
*tags

gdb-scripts/
truecrypt/builds/
truecrypt/truecrypt-7.1a-source/wxdebug/
truecrypt/vim-sessions/
truecrypt/workbench/


truecrypt/wxGTK-2.8.12.tar.gz
truecrypt/truecrypt-7.1a-source/wxrelease
truecrypt/wxGTK-2.8.12/
truecrypt/truecrypt-7.1a-source/Main/truecrypt
truecrypt/truecrypt-7.1a-source/Common/Language.xml.h
truecrypt/truecrypt-7.1a-source/Common/Textual_logo_96dpi.bmp.h
truecrypt/truecrypt-7.1a-source/Format/TrueCrypt_Wizard.bmp.h
truecrypt/truecrypt-7.1a-source/License.txt.h
truecrypt/truecrypt-7.1a-source/Main/SystemPrecompiled.h.gch
truecrypt/truecrypt-7.1a-source/Mount/Drive_icon_96dpi.bmp.h
truecrypt/truecrypt-7.1a-source/Mount/Drive_icon_mask_96dpi.bmp.h
truecrypt/truecrypt-7.1a-source/Mount/Logo_96dpi.bmp.h

cryptostick/cryptostick.oath/CryptoStickGUI.pro.user*
cryptostick/cryptostick.oath/build-*-Debug
cryptostick/cryptostick.oath/*~
cryptostick/cryptostick.oath/*.o
cryptostick/cryptostick.oath/*.lst
cryptostick/cryptostick.oath/.*
cryptostick/cryptostick.oath/!/.gitignore


# EXPERIMENTAL

qemu/
qemu/qemu_stm32/roms/seabios/
qemu/qemu_stm32/roms/vgabios/
qemu/stm32_p103_demos/

chopstx-chopstx.tar.gz
gnuk-1.1.2.tar.gz

openfirmware/
