*.o
*.d
*.a
*.swp
wxGTK-2.8.12.tar.gz
truecrypt-7.1a-source/wxrelease
wxGTK-2.8.12/
truecrypt-7.1a-source/Main/truecrypt
truecrypt-7.1a-source/Common/Language.xml.h
truecrypt-7.1a-source/Common/Textual_logo_96dpi.bmp.h
truecrypt-7.1a-source/Format/TrueCrypt_Wizard.bmp.h
truecrypt-7.1a-source/License.txt.h
truecrypt-7.1a-source/Main/SystemPrecompiled.h.gch
truecrypt-7.1a-source/Mount/Drive_icon_96dpi.bmp.h
truecrypt-7.1a-source/Mount/Drive_icon_mask_96dpi.bmp.h
truecrypt-7.1a-source/Mount/Logo_96dpi.bmp.h
